*{                              /*  *  selects all the html elements*/
    margin:0;
    padding:0;
}
body{
    overflow: hidden;
}
.sky{
    height:100vh;
    width:100vw;
    position: absolute; /* absolute position changes it's position according to it's parent relative position*/
    background-image: url(background.jpg);
    background-repeat: no-repeat;  /*  if you zoom in zoom out the same image appears */
}
.trees{
    height:100vh;
    width:100%;
    top:-143px;
    background-image: url(trees.png);
    background-size: cover; /*  doesn't alter the image according to website without altering the image*/
    position: absolute;/*relative position given to parent*/
}
.track{
    height:50vh;
    width:800vw;
    background-image: url(track.png);
    background-repeat: repeat-x;
    position:absolute;
    top:70vh;
    animation: carmove linear 11s infinite;
}
.car{
    height:100px;
    width:380px;
    background-image:url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left:444px;
    bottom:30vh;/*viewport height*/
    animation: shake linear .3s infinite;
}
.wheel1 img{/* directly applies on wheel image */
    width:77px;
    position:relative;
    top:41px;
    left:43px;
    animation: wheelRotation linear .13s infinite; /* name of animation speed time no.of.times*/
    
}
.wheel2 img{
    width:77px;
    position:relative;
    top:-39px;
    left:235px;
    animation: wheelRotation linear .13s infinite;
    
}
@keyframes wheelRotation /*need to use keyframes while applying animations and syntax @keyframes name*/
{
    100%{
        transform: rotate(360deg) /*when reaches 100% rotate by 360deg*/
    }
}

@keyframes carmove /*need to use keyframes while applying animations and syntax @keyframes name*/
{
    100%{
        transform: translateX(-500vw) /*it moves the object in x axis direction in reverse */
    }
}
@keyframes shake /*need to use keyframes while applying animations and syntax @keyframes name*/
{
    0%{
        transform: translateY(-5px) /*it moves the object in Y axis direction in reverse */
    }
    50%{
        transform: translateY(5px) /*it moves the object in y axis direction in same */
    }
    100%{
        transform: translateY(-5px) /*it moves the object in Y axis direction in reverse */
    }
}
