@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lato:ital,wght@1,300&family=Montserrat&family=Open+Sans:wght@500&family=Playfair+Display:ital@1&family=Roboto+Condensed:ital@1&family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow: hidden;
  background: #f2f2f2;
}

.wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  animation: show_toast 1s ease forwards;
}

@keyframes show_toast{

    0%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(10%);
    }
    80%,100%{
        transform: translateX(20px);
    }
}

.wrapper.hide{
    animation: hide_toast 1s ease forwards;
}

@keyframes hide_toast{

    0%{
        transform: translateX(20px);
    }
    40%{
        transform: translateX(10%);
    }
    80%,100%{
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
    }
}



.wrapper .toast.offline{
    border: #ccc;
}



.wrapper .toast {
  background: #fff;
  padding: 20px 15px 20px 20px;
  border-radius: 10px;
  width: 430px;
  border-left: 2px solid #00ff00;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toast .content {
  display: flex;
  align-items: center;
}

.toast.offline .content .icon{
    background: #ccc;
}

.content .details {
  margin-left: 15px;
}

.content .icon {
  font-size: 25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #fff;
  background: #00ff00;
  text-align: center;
  line-height: 50px;
}

.details span {
  font-size: 20px;
  font-weight: 500;
}

.details p {
  color: #808080;
}

.toast .close-icon {
  color: #808080;
  font-size: 24px;
  border-radius: 50px;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.close-icon:hover {
  background: #efefef;
}



@media (max-width:450px){

  .wrapper {
    position: absolute;
    top: 20px;
    left: 0.5px;
    animation: show_toast 1s ease forwards;
  }


  .wrapper .toast {
    background: #fff;
    padding: 20px 15px 20px 20px;
    border-radius: 10px;
    width: 350px;
    border-left: 2px solid #00ff00;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}